.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(209, 220, 255);
  display: inline-block;
}

.node-start {
  background-color: rgb(112, 255, 155);
}

.node-end {
  background-color: rgb(255, 76, 121);
}
