.node {
  width: 25px;
  height: 23px;
  border: 1px solid rgb(209, 220, 255);
  display: inline-block;
}

.node-start {
  background-color: rgb(0, 255, 76);
}

.node-finish {
  background-color: rgb(255, 0, 0);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    transform: translate(5px, 10%);
    background-color: rgba(255, 96, 0);
  }

  50% {
    transform: scale(0.4);
    background-color: rgba(255, 84, 0);
  }

  75% {
    transform: scale(0.8);
    background-color: rgba(255, 145, 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(38, 0, 255);
  }
}

.node-wall {
  background-color: rgb(22, 22, 22);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.4);
    background-color: rgb(250, 208, 101);
  }

  50% {
    transform: scale(0.8);
    background-color: rgba(250, 208, 101);
  }

  100% {
    transform: scale(1);
    background-color: rgb(250, 208, 101);
  }
}
