.grid {
  width: 80%;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.node-wrapper {
  display: flex;
  margin-left: 300px;
  text-align: center;
  align-items: center;
  align-content: center;
}
